<%-include("partial/header.ejs");-%>
<div class="box container" id="heading">
  <h1><%=day%></h1>
</div>
<div class="box container">
  <%items.forEach(function(item){%>
  <div class="item">
    <input type="checkbox">
    <p><%=item%></p>
  </div>
  <%})%>
  <form class="form-inline" action="/" method="post">
    <input class="form-control mr-sm-2" type="text" name="newItem" placeholder="New Item" value="" autocomplete="off">
    <button type="submit" name="button">+</button>
  </form>
</div>


<%-include("partial/footer.ejs");-%>
